{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
 <div class="row justify-content-md-center bg-info bg-gradient border rounded text-center">
    <h2>Nawsh' Store</h2>
</div>
<div class="row justify-content-md-center shadow-lg p-3 mb-5 bg-body rounded mt-3">

            <form method="post">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-md col-xs-12">
                        {{ form.username.errors }}
                        {{ form.username.label_tag }}
                    </div>
                    <div class="col-md col-xs-12">
                        {{ form.username }}

                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md col-xs-12">
                        {% load l10n %}

                        {{ value|localize }}
                        {{ form.password.errors }}
                        {{ form.password.label_tag }}
                    </div>
                    <div class="col-md col-xs-12">
                        {{ form.password }}
                    </div>
                </div>
                <input class="btn btn-sm submit btn-success rounded-0" type="submit">
            </form>
        </div>
                  <div class="row justify-content-md-center">
                <small class="text-danger">{{ form.non_field_errors }}</small>
                </div>
        <div class="row justify-content-md-center bg-body rounded ">
        <small class="text-secondary">Dont't Have An Account?<a href="{% url 'signup' %}">SignUp</a></small>
        </div>
</div>
</div>

{% endblock %}